<nav class="navbar navbar-default navbar navbar-expand-lg navbar-light bg-light" role="navigation">

  <a class="navbar-brand" href="/">Cinema</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Some section</a>
    </li>
  </ul>

</nav>
